/*
https://raw.githubusercontent.com/9xbryan/JSLib_backupScripts_CustomStyleScript/main/app.ai.css
https://api.github.com/repos/9xbryan/JSLib_backupScripts_CustomStyleScript/contents/app.ai.css
*/

.cursor-grab .prose,
.cursor-grab .prose-neutral,
.cursor-grab .prose-sm,
.cursor-grab *[node],
.cursor-grab p[class|="text-neutral" i],
p, span {
	cursor: auto !important;
	user-select: auto !important;
	pointer-events: auto !important;
}




.overlay {
	outline-width: 2px; outline-style: solid;
	position:absolute;
	visibility: hidden;
	outline-offset:-3px; background-color:rgba(0,0,0,0);
	&.visibleOverlay {visibility: visible; pointer-events:auto;}
}
.outline {
	outline-width: 2px; outline-style: solid;
}
